:root {
  --race: 1380px;
}
@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
h3{
  margin-bottom: 10px;
}
img{
  width: 100px;
  height: 100px;
}

main{
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer{
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
header{
  background: #2196F3;
  height: 64px;
  color: #FFFFFF;

}
.navigation{
  li{
    display: inline-flex;
    padding: 22px;
    
  }
  a{
    color: #FFFFFF;
    text-decoration: none;
    &.active>li{
      background: #2F80ED;
    }
  }
}
.container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 30px;
}


.hidden {
  display: none;
}

.nav{
  display: flex;
  justify-content: space-between;
}
.btn{
  height: 36px;
  font-size: 14px;
  line-height: 16px;
  color: #2196F3;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  background: #F2F9FE;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  border:none;
  padding: 10px 16px;
  margin-right: 5px;
  &:hover{
  cursor: pointer;
  }
}

.invalid {
    opacity: 0.3;
    pointer-events: none;
}

input{
  background: rgba(148, 65, 65, 0.08);
  border-radius: 4px 4px 0px 0px;
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  border: none;
  border: 1px transparent;
  &.invalid{
    border: 1px rgba(247, 11, 11) solid;
  }
  &.valid{
    border: 1px rgba(81, 219, 68) solid;
  }
}

.form{
  label{
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.38);
    margin-top: 20px;
  }
}
.btn-submit{
  background: #2196F3;
  color: white;
}

.row {

  width: 100%;
  border-bottom: 1px solid rgba(33, 33, 33, 0.08);
  & > div{
    padding: 3px 15px;
  }
}
.page{
  padding: 15px 55px;
}
.box{
  width: 335px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
svg, .finish{
  height: 50px;
}
.finish{
  margin-right: 100px;
}
.rase{
    display: flex;
    justify-content: space-between;
}
.raseanimation{
  -webkit-animation: simple 3s forwards linear;
  animation: simple 3s forwards linear;
}
@-webkit-keyframes simple{
  100% {
    -webkit-transform: translateX(var(--race));
    -moz-transform: translateX(var(--race));
    -ms-transform: translateX(var(--race));
    -o-transform: translateX(var(--race));
    transform: translateX(var(--race));
  }
}
.transmission{
    display: flex;

}

.header,.add-form, .winner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.garage{
  margin-top: 20px;
}
.winner{
  div{
    width: 20%;
    padding: 0;
  }
}
.table-header{
  h4{
    width: 20%;
    &.sort{
      cursor: pointer;
    }
    &.asc::before{
      content: '↑';
    }
    &.desc::before{
      content: '↓';
    }
    &.sort::before{
      width: 10px;
      height: 19px;
      cursor: pointer;
    }

  }
}
